<!-- 	Example-01 : Hello World

<html ng-app='demo'>
<head>
	<title>AngularJS CheatSheet</title>
	<script src='scripts/angular.min.js' type='application/javascript'></script>
	<script src='angularjs-cheatsheet.js' type='application/javascript'></script>
</head>

<body ng-controller='myFirstCtrl'>
	<h1>{{helloWorld}}</h1>
	<h3>{{info}}</h3>
	<ul>
		<li ng-repeat='item in list'>
			{{item}}
		</li>
	</ul>
</body>
</html>

-->









<!-- 	Example-02: Databinding, promises, DOM manipulation	

<html ng-app='demo'>
<head>
	<title>AngularJS CheatSheet</title>
	<script src='scripts/angular.min.js' type='application/javascript'></script>
	<script src='angularjs-cheatsheet.js' type='application/javascript'></script>
</head>

<body ng-controller='myFirstCtrl'>
	
	<div ng-if="hasResult">
		<ul>
			<li ng-repeat="person in persons">
				<p>{{person.firstname}} {{person.lastname}} is {{person.age}} years old</p>
			</li>
		</ul>
	</div>
	<div ng-if="!hasResult">
		<h3 style="color: red">There is no data :(</h3>
	</div>
</body>
</html>

-->








<!-- 	Example-03: ng-model, filters 		

<html ng-app='demo'>
<head>
	<title>AngularJS CheatSheet</title>
	<script src='scripts/angular.min.js' type='application/javascript'></script>
	<script src='angularjs-cheatsheet.js' type='application/javascript'></script>
</head>

<body ng-controller='myFirstCtrl'>
	
	<input type="text" placeholder="Search name" ng-model="searchValue" />

	<table>
		<thead>
			<tr>
				<th>
					Name
				</th>
				<th>
					Age
				</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="person in persons | filter: searchValue">
				<td>{{person.name}}</td>
				<td>{{person.age}}</td>
			</tr>
		</tbody>
	</table>

</body>
</html>

-->










<!-- 	Example-04: Routing 		-->

<html ng-app='demo'>
<head>
	<title>AngularJS CheatSheet</title>
	<script src='scripts/angular.min.js' type='application/javascript'></script>
	<script src='scripts/angular-route.min.js' type='application/javascript'></script>
	<script src='angularjs-cheatsheet.js' type='application/javascript'></script>
</head>

<body>
	
	<div ng-view></div>

</body>
</html>

