@using System.Web.Optimization
@using LibraryApp.App_Start

<!DOCTYPE html>

<html ng-app="libraryApp">
<head>
    <title>LibraryApp C#</title>
</head>
<body ng-controller="libraryAppCtrl">
    <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Library App</a>
                </div>

                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ng-class="{ active: isPublic }">
                            <a href="/#/public">Public</a>
                        </li>
                        <li ng-class="{ active: isAdmin }">
                            <a href="/#/admin">Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div ng-view></div>

    </div>

    @Styles.Render(BundleConfig.BundleNames.Styles.ThirdpartyStyles)
    @Scripts.Render(BundleConfig.BundleNames.Scripts.ThirdpartyScripts)
    @Scripts.Render(BundleConfig.BundleNames.Scripts.LibraryApp)

</body>
</html>